# Downloading Weather Data through NOAA API

- Defined a few auxiliary functions to avoid repeating same codes
- Token needs to be requested from [Token Request Page](https://www.ncdc.noaa.gov/cdo-web/token).

## Setup

In [1]:
import pandas as pd
import re
import json

In [2]:
import requests

In [3]:
# Token is saved separately
from DownloadNOAADataFunctions.private_info import my_token

In [4]:
# Import custom functions
import DownloadNOAADataFunctions.download2016weather as dl2016

## Scraping Weather Data

### Get list of airport stations

In [5]:
airport_ids = dl2016.get_airport_stations(my_token, 36)
airport_ids

{'ALBANY INTERNATIONAL AIRPORT, NY US': 'GHCND:USW00014735',
 'DANSVILLE MUNICIPAL AIRPORT, NY US': 'GHCND:USW00094704',
 'DUNKIRK CHAUTAUQUA CO AIRPORT, NY US': 'GHCND:USW00014747',
 'ELMIRA CORNING REGIONAL AIRPORT, NY US': 'GHCND:USW00014748',
 'FARMINGDALE REPUBLIC AIRPORT, NY US': 'GHCND:USW00054787',
 'FULTON OSWEGO CO AIRPORT, NY US': 'GHCND:USW00054773',
 'GLENS FALLS AIRPORT, NY US': 'GHCND:USW00014750',
 'ISLIP LI MACARTHUR AIRPORT, NY US': 'GHCND:USW00004781',
 'JFK INTERNATIONAL AIRPORT, NY US': 'GHCND:USW00094789',
 'LA GUARDIA AIRPORT, NY US': 'GHCND:USW00014732',
 'MASSENA INTERNATIONAL AIRPORT, NY US': 'GHCND:USW00094725',
 'MONTAUK AIRPORT, NY US': 'GHCND:USW00054780',
 'MONTGOMERY ORANGE CO AIRPORT, NY US': 'GHCND:USW00004789',
 'NIAGARA FALLS INTERNATIONAL AIRPORT, NY US': 'GHCND:USW00004724',
 'PENN YAN AIRPORT, NY US': 'GHCND:USW00054778',
 'PLATTSBURGH INTERNATIONAL AIRPORT, NY US': 'GHCND:USW00064776',
 'POUGHKEEPSIE AIRPORT, NY US': 'GHCND:USW00014757',
 'SARANAC LAKE ADIRONDACK REGIONAL AIRPORT, NY US': 'GHCND:USW00094740',
 'SHIRLEY BROOKHAVEN AIRPORT, NY US': 'GHCND:USW00054790',
 'SYRACUSE HANCOCK INTERNATIONAL AIRPORT, NY US': 'GHCND:USW00014771',
 'WATERTOWN AIRPORT, NY US': 'GHCND:USW00094790',
 'WELLSVILLE MUNICIPAL AIRPORT, NY US': 'GHCND:USW00054757',
 'WESTCHESTER CO AIRPORT, NY US': 'GHCND:USW00094745',
 'WESTHAMPTON GABRESKI AIRPORT, NY US': 'GHCND:USW00014719'}

In [6]:
# take id for JFK
jfk_id = airport_ids['JFK INTERNATIONAL AIRPORT, NY US']
jfk_id

'GHCND:USW00094789'

In [7]:
# Get the station information for JFK 
dl2016.get_station_info(my_token, jfk_id)

{'datacoverage': 1,
 'elevation': 3.4,
 'elevationUnit': 'METERS',
 'id': 'GHCND:USW00094789',
 'latitude': 40.6386,
 'longitude': -73.7622,
 'maxdate': '2017-03-16',
 'mindate': '1948-07-01',
 'name': 'JFK INTERNATIONAL AIRPORT, NY US'}

### Download weather data for JFK

In [8]:
tmax_df = dl2016.get_data(my_token, 'GHCND', 'TMAX', jfk_id)
tmax_df.head()

                  date            station  TMAX
0  2016-01-01T00:00:00  GHCND:USW00094789  44.0
1  2016-01-02T00:00:00  GHCND:USW00094789  41.0
2  2016-01-03T00:00:00  GHCND:USW00094789  48.0
3  2016-01-04T00:00:00  GHCND:USW00094789  38.0
4  2016-01-05T00:00:00  GHCND:USW00094789  29.0

In [9]:
tmin_df = dl2016.get_data(my_token, 'GHCND', 'TMIN', jfk_id)
tmin_df.head()

                  date            station  TMIN
0  2016-01-01T00:00:00  GHCND:USW00094789  36.0
1  2016-01-02T00:00:00  GHCND:USW00094789  34.0
2  2016-01-03T00:00:00  GHCND:USW00094789  35.0
3  2016-01-04T00:00:00  GHCND:USW00094789  15.0
4  2016-01-05T00:00:00  GHCND:USW00094789  12.0

In [10]:
temp_df = pd.merge(tmax_df, tmin_df, on = ['date', 'station'])
temp_df.head()

                  date            station  TMAX  TMIN
0  2016-01-01T00:00:00  GHCND:USW00094789  44.0  36.0
1  2016-01-02T00:00:00  GHCND:USW00094789  41.0  34.0
2  2016-01-03T00:00:00  GHCND:USW00094789  48.0  35.0
3  2016-01-04T00:00:00  GHCND:USW00094789  38.0  15.0
4  2016-01-05T00:00:00  GHCND:USW00094789  29.0  12.0

In [11]:
temp_df.shape

(366, 4)